/* Navbar  */
.navbar {
  background-color: #05284e;
}

.navbar .container-fluid a {
  color: white;
}

.jumbotron img {
  height: 100vh;
  width: 100%;
}

.jumbotron-title {
  color: white;
}

.jumbotron-text {
  color: white;
}

.dropdown-menu {
  background-color: #05284e;
}

.layanan-public {
  background-color: #05284e;
  color: white;
  margin-top: -5px;
  margin-bottom: -5px;
}

/* banner */
.banner-title {
  font-size: 36px;
  font-weight: 700;
  color: #05284e;
  text-align: center;
  margin-bottom: 20px;
}

.odp {
  background-color: #05284e;
  color: white;
  margin-top: -5px;
  margin-bottom: -5px;
}

.footer {
  background-color: #05284e;
  color: white;
  padding: 20px 0;
}
.footer .social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
}
.footer .social-icons a:hover {
  color: #f0f0f0;
}
